[Desktop Entry]
Version=1.0
Icon=/userdata/system/.dev/apps/chrome/icon/Chrome.png
Exec=/userdata/system/.dev/apps/chrome/Google_Chrome-x86_64.AppImage
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=Google Chrome
NoDisplay=true
